<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanwei.haq.spider.dao.web.WebClassDao">

    <select id="getClassByWebId" parameterType="java.lang.Integer" resultType="com.lanwei.haq.spider.entity.web.WebClassEntity">
        SELECT * FROM t_web_class WHERE webId=#{webId} AND isDel = 'F';
    </select>

</mapper>