<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanwei.haq.spider.dao.web.WebDao">

    <select id="getAllId" resultType="java.lang.Integer">
        SELECT id FROM t_web WHERE isDel = 'F';
    </select>

    <select id="getAllWeb" resultType="com.lanwei.haq.spider.entity.web.WebEntity">
        SELECT * FROM t_web WHERE isDel = 'F';
    </select>

    <select id="getWebById" parameterType="java.lang.Integer" resultType="com.lanwei.haq.spider.entity.web.WebEntity">
        SELECT * FROM t_web WHERE id=#{id} AND isDel = 'F';
    </select>

</mapper>