<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描路径 -->
    <context:component-scan base-package="com.lanwei.haq"/>
    <context:property-placeholder location="classpath*:app.properties"/>

    <import resource="spring-jdbc.xml"/>
    <import resource="spring-redis.xml"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-es.xml"/>

    <!-- 添加一个监听器，当Application初始化结束或者刷新的时候会执行的方法，用于初始化系统 -->
    <bean id="initBean" class="com.lanwei.haq.spider.listener.InitListener"></bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="104857600"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>


</beans>
