<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanwei.haq.web.lw.dao.clazz.ClazzDao">

	<select id="query"  resultType="com.lanwei.haq.web.lw.entity.clazz.Clazz">
		SELECT * FROM t_class
	</select>

</mapper>
















