<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 扫描路径 -->
    <context:component-scan base-package="com.lanwei.haq.bms"/>
    <context:annotation-config/>

    <!-- 注入参数配置  -->
    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="com.lanwei.haq.bms.filter.CurrentUserMethodArgumentResolver"/>
            <bean class="com.lanwei.haq.bms.filter.AddMethodArgumentResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <!-- properties配置文件 此处配置位置不能动 -->
    <context:property-placeholder location="classpath*:app.properties" order="1"/>

    <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>

    <!-- 此路径下的请求,不会被DefaultAnnotationHandlerMapping下的拦截器拦截(它只拦截@Controller注解的) -->
    <mvc:default-servlet-handler/>

    <!-- 拦截器配置 将拦截所有请求，校验权限 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/main"/>
            <mvc:mapping path="/*/*"/>
            <mvc:mapping path="/*/*/*"/>
            <mvc:mapping path="/*/*/*/*"/>
            <!-- 需排除拦截的地址 -->
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/WEB-INF/html/*"/>
            <bean class="com.lanwei.haq.bms.filter.AuthenticationInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 定义一个视图解析器  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/html/"/>
        <property name="suffix" value=".html" />
    </bean>

    <!-- 异常统一输出 -->
    <bean id="exceptionResolver" class="com.lanwei.haq.bms.filter.ExceptionHandler"/>

    <!-- 返回为json的bean -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <!-- json转换器 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <!-- 启动@Aspect注解支持 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean id="sysLogAspect" class="com.lanwei.haq.bms.aspect.SysLogAspect"></bean>

</beans>