<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <jmxConfigurator />
    <!-- 定义日志的根目录 -->
    <property name="LOG_HOME" value="/home/haqteam/install/log" />
    <!-- 定义日志文件名称 -->
    <property name="appName" value="haq-bms"/>
    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>
  <!--   文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份)    -->
    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${appName}.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${appName}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>50</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</Pattern>
        </layout>
    </appender>

	<!-- logback 接受一下指定的组件日志信息 -->
    <logger name="org.springframework.jdbc.core" level="DEBUG" />  
    <logger name="com.ibatis" level="DEBUG" />  
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />  
	<logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />  
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />  
	<logger name="java.sql.Connection" level="DEBUG" />  
	<logger name="java.sql.Statement" level="DEBUG" />  
	<logger name="java.sql.PreparedStatement" level="DEBUG" />
    <logger name="*" level="DEBUG" />
    
    <root level="DEBUG"> <!-- 开发过程DEBUG 项目发布的时候必须使用该级别 ERROR  ,最起码也应该是 WARN -->
		<appender-ref ref="FILE-AUDIT"/>
		<appender-ref ref="STDOUT" />
	</root>
</configuration>