<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanwei.haq.bms.dao.web.ClassDao">

    <sql id="comField">
        name,creater,created,modifier,modified,isDel
    </sql>

    <select id="getAll" resultType="com.lanwei.haq.bms.entity.web.ClassEntity">
        SELECT tc.*
        FROM t_class tc
        WHERE tc.isDel = 'F'
        AND tc.id > 1
        ORDER BY tc.created desc;
    </select>

    <select id="queryByIds" resultType="java.lang.String">
        SELECT tc.name FROM t_class tc
        WHERE tc.isDel = 'F'
        AND tc.id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>

    <select id="query" parameterType="com.lanwei.haq.bms.entity.web.ClassEntity" resultType="com.lanwei.haq.bms.entity.web.ClassEntity">
        SELECT tc.*
        FROM t_class tc
        WHERE tc.isDel = 'F'
        <if test="id!=null and id!=0">
            AND tc.id = #{id}
        </if>
        <if test="null!=name and ''!= name">
            AND tc.name LIKE CONCAT('%',#{name},'%')
        </if>
        ORDER BY tc.created desc
        LIMIT #{pageStart},#{pageSize};
    </select>

    <!-- 查询数量，用于分页 -->
    <select id="count"  parameterType="com.lanwei.haq.bms.entity.web.ClassEntity" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_class tc
        WHERE tc.isDel = 'F'
        <if test="id!=null and id!=0">
            AND tc.id = #{id}
        </if>
        <if test="null!=name and ''!= name">
            AND tc.name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <!-- 新增 -->
    <insert id="add" parameterType="com.lanwei.haq.bms.entity.web.ClassEntity" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `t_class`
        <trim prefix="(" suffix=")">
            <include refid="comField"/>
        </trim>
        VALUES (#{name},#{creater},NOW(),#{modifier},Now(),'F')
    </insert>

    <!-- 更新用户 -->
    <update id="update" parameterType="com.lanwei.haq.bms.entity.web.ClassEntity">
        UPDATE
        `t_class`
        SET
        <if test="null != name and ''!= name">
            name = #{name},
        </if>
        `modifier` = #{modifier},
        `modified` = NOW()
        WHERE id=#{id}
    </update>

    <!-- 删除 -->
    <update id="del" parameterType="com.lanwei.haq.bms.entity.web.ClassEntity">
        UPDATE
        t_class
        SET
        isDel = 'T',
        modifier = #{modifier},
        modified = NOW()
        WHERE
        id = #{id}
    </update>

    <!--批量删除-->
    <update id="delList">
        UPDATE t_class
        SET
        isDel = 'T',
        modified = NOW(),
        modifier = #{userId}
        WHERE isDel = 'F'
        AND id in
        <foreach collection="idArr" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </update>



</mapper>