<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanwei.haq.bms.dao.role.RoleDao">

    <insert id="add" parameterType="com.lanwei.haq.bms.entity.role.RoleEntity">
        INSERT INTO sys_role
        SELECT null,#{name},#{type},CONCAT(pidSeries,'_',#{pidSeries}),#{creater},#{created},#{modifier},#{modified},#{isDel}
        FROM sys_role WHERE id = #{pidSeries}
    </insert>

    <select id="query" parameterType="com.lanwei.haq.bms.entity.role.RoleEntity"
            resultType="com.lanwei.haq.bms.entity.role.RoleEntity">
        SELECT *
        FROM sys_role
        WHERE isDel = 'F'
        <if test="id != 0">
            AND id = #{id}
        </if>
        <if test="type != 0 ">
            AND type != #{type}
        </if>
    </select>

    <select id="count" parameterType="com.lanwei.haq.bms.entity.role.RoleEntity"
            resultType="int">
        SELECT COUNT(*)
        FROM sys_role
        WHERE isDel = 'F'
        <if test="id != 0">
            AND id = #{id}
        </if>
        <if test="type != 0 ">
            AND type = #{type}
        </if>
    </select>

    <update id="delList">
        UPDATE sys_role
        SET
        isDel = 'T',
        modified = NOW(),
        modifier = #{userId}
        WHERE isDel = 'F'
        AND id in
        <foreach collection="idArr" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </update>

    <update id="delRel">
        UPDATE sys_role_menu_rel
        SET
        isDel = 'T',
        modified = NOW(),
        modifier = #{userId}
        WHERE isDel = 'F'
        AND roleId = #{roleId}
    </update>

    <insert id="addRel">
        INSERT INTO sys_role_menu_rel
        <trim prefix="(" suffix=")"> menuId,roleId,creater,created,modifier,modified</trim>
        VALUES
        <foreach collection="menuId" separator="," item="id">
            (#{id},#{roleId},#{userId},NOW(),#{userId},NOW())
        </foreach>
    </insert>

</mapper>